<h1>Posts sdsd</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>
        #
      </th>
      <th>
        Date
      </th>
      <th>
        Last Name
      </th>
      <th>
        Rationale
      </th>
      <th>
        Edit
      </th>
    </tr>
  </thead>
  <tbody>
    <%= render @posts %>
  </tbody>
</table>